<div class="center">
    <h2>
        Add New Merchant
    </h2>
</div>

<body>
    <div class="container" style="background-color: gainsboro;">
        <form style="background-color: gainsboro;">

            <label for="merchantName"><b>MERCHANT NAME</b></label><br>
            <input type="text" id="merchantName" name="merchantName" [(ngModel)]="merchant.name" required><BR><BR>

            <label for="cardNumber"><b>CARD NUMBER :</b></label><br>
            <input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="merchant.cardNumber" required><br><br>

            <button type="submit" style="background-color:#b1c4bd;" (click)="addMerchant()"><b>Add Merchant</b></button>
        </form>
    </div>
</body>