<div class="center">
    <h2>
        Add New Merchant
    </h2>
</div>

<br><br>
<body style="background-color: hsl(0, 0%, 81%) ;text-align: center;">
    <div class="container" style="background-color: gainsboro; text-align:center;">
        <form style="background-color: gainsboro;" [formGroup]="merchantForm" (ngSubmit)="addMerchant()">

            <label for="merchantName"><b>MERCHANT NAME</b></label><br>
            <input type="text" id="merchantName" name="merchantName" formControlName="name"><BR><BR>

            <label for="cardNumber"><b>CARD NUMBER </b></label><br>
            <input type="text" id="cardNumber" name="cardNumber" formControlName="cardNumber"><br><br>

            <button type="submit" style="background-color:#b1c4bd;" ><b>Add Merchant</b></button>
        </form>
    </div>
</body>
<div class="alert alert-info" *ngIf="response"><pre>{{response}}</pre></div>