<br><div class="center"><h2>List of Merchants</h2></div><br>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Card Number</th>
        <th>Update</th>
        <th>delete</th>
    </tr>
    <tr *ngFor="let merchant of merchants; let i = index">
        <td>{{ merchant.merchantId }}</td>
        <td>{{ merchant.name }}</td>
        <td>{{ merchant.cardNumber }}</td>
        <td>
            <button type="button" (click)="updateMerchant(i)">Update</button>
        </td>
        <td>
            <button type="button" (click)="deleteMerchant(merchant.merchantId)">Delete</button>
        </td>
    </tr>
</table>