<h2>List of Merchants</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Card Number</th>
        <th>Update</th>
        <th>delete</th>
    </tr>
    <tr *ngFor="let merchant of merchants">
        <td>{{ merchant.merchantId }}</td>
        <td>{{ merchant.name }}</td>
        <td>{{ merchant.cardNumber }}</td>
        <td>
            <button type="button" routerLink="../update">Update</button>
        </td>
        <td>
            <button type="button" (click)="deleteMerchant(merchant)">Delete</button>
        </td>
    </tr>
</table>