<div class="row">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg" *ngIf="isAdmin">
                <div class="form-group">
                    <label for="transactionId" class="form-label">ID</label>
                    <input type="text" class="form-control" id="transactionId" formControlName="transactionId"
                        matTooltip="Enter transaction ID">
                </div>
            </div>
            <div class="col-lg" *ngIf="isAdmin">
                <div class="form-group">
                    <label for="customerCreditCardNumber" class="form-label">Credit Card Number</label>
                    <input type="text" class="form-control" id="customerCreditCardNumber"
                        formControlName="customerCreditCardNumber"
                        matTooltip="Enter customer's 16 digit credit card number">
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDate" formControlName="startDate"
                        matTooltip="Select start date">
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="endDate" formControlName="endDate"
                        [min]="searchForm.controls['startDate'].value" matTooltip="Select end date">
                </div>
            </div>
            <div class="col-lg d-flex align-items-center">
                <button type="submit" class="btn btn-success" [disabled]="searchForm.invalid"
                    matTooltip="Click to search">Search</button>
            </div>
            <div class="col-lg-2 d-flex align-items-end alert alert-info">
                Leave the fields blank to get all transactions.
            </div>
        </div>
    </form>
</div>
<div class="alert alert-danger" *ngIf="errorMessage && transactions.length === 0">
    <p>No Transactions!</p><br>
    {{errorMessage}}
</div>
<div class="row mt-2">
    <div class="text-center"><h1>List of Transactions</h1></div>
    <div class="table-responsive" *ngIf="transactions.length > 0">
        <table class="table table-bordered table-success table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Merchant</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <th scope="row">{{transaction.transactionId}}</th>
                    <td>{{transaction.transactionName}}</td>
                    <td>{{transaction.description}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{transaction.transactionType}}</td>
                    <td>{{transaction.customerCreditCardNumber}}</td>
                    <td>{{transaction.merchantCardNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>