<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-around">
        <ul class="navbar-nav flex-grow-1 justify-content-between">
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link cursor-pointer" routerLink="/customer">Customer</a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link cursor-pointer" routerLink="/merchant">Merchant</a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link cursor-pointer" routerLink="/card">Card</a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link cursor-pointer" routerLink="/transaction">Transaction</a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link cursor-pointer" routerLink="/bill">Billing</a>
            </li>
        </ul>
    </div>
</nav>