<nav class="navbar navbar-expand-sm bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarNav">
            <ul class="navbar-nav" *ngIf="isLoggedIn()">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customer" routerLinkActive="active">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/merchant" routerLinkActive="active">Merchant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/card" routerLinkActive="active">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/transaction" routerLinkActive="active">Transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bill" routerLinkActive="active">Billing and Payment</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()">
                    <button class="nav-link btn btn-link" routerLinkActive="active" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>