<div class="row mt-5">
    <div class="table-responsive" *ngIf="cardList.length > 0,else noCards">
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th>Credit Card ID</th>
            <th>Card Number</th>
            <th>CVV</th>
            <th>Card Type</th>
            <th>Valid Upto</th>
            
            <th>Interest Rate</th>
            <th>Credit Limit</th>
            <th>Current Limit</th>
          
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of cardList">
            <td>{{card.creditCardId}}</td>
            <td>{{card.cardNumber}}</td>
            <td>{{card.cvv}}</td>
            <td>{{card.creditCardType.cardType}}</td>
            <td>{{card.validUpto}}</td>
            <td>{{card.creditCardType.interestRate}}</td>
            <td>{{card.creditCardType.creditLimit}}</td>
            <td>{{card.currentLimit}}</td>
        
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noCards>
        <div>No Credit cards found</div>
      </ng-template>
  </div>