<div class="row mt-5">
    <div class="table-responsive" *ngIf="cardList && cardList.length > 0,else noCards">
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th>Credit Card ID</th>
            <th>Card Number</th>
            <th>CVV</th>
            <th>Card Type</th>
            <th>Valid Upto</th>  
            <th>Interest Rate</th>
            <th>Credit Limit</th>
            <th>Current Limit</th> 
          </tr>
        </thead>
        <tbody *ngIf="cardList && cardList.length > 0; else noCards">
          <tr *ngFor="let card of cardList">
            <td *ngIf="card">{{card.creditCardId}}</td>
            <td *ngIf="card">{{card.cardNumber}}</td>
            <td *ngIf="card">#$%</td>
            <td *ngIf="card && card.creditCardType">{{card.creditCardType.cardType}}</td>
            <td *ngIf="card">{{card.validUpto}}</td>
            <td *ngIf="card && card.creditCardType">{{card.creditCardType.interestRate}}</td>
            <td *ngIf="card && card.creditCardType">{{card.creditCardType.creditLimit}}</td>
            <td *ngIf="card">{{card.currentLimit}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noCards>
        <div>No Credit cards found</div>
      </ng-template>
  </div>