<div class="row">
    <div class="col-sm">
        <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="customerCreditCardNumber" class="form-label">Your Credit Card Number</label>
                        <input type="text" name="customerCreditCardNumber" id="customerCreditCardNumber"
                            class="form-control" formControlName="customerCreditCardNumber"
                            matTooltip="Enter your 16 digit credit card number" />
                    </div>
                    <div class="form-group">
                        <label for="customerName" class="form-label">Your Name</label>
                        <input type="text" name="customerName" id="customerName" class="form-control"
                            formControlName="customerName" matTooltip="Enter your name" />
                    </div>
                    <div class="form-group">
                        <label for="cvv" class="form-label">CVV</label>
                        <input type="number" name="cvv" id="cvv" class="form-control" formControlName="cvv"
                            matTooltip="Enter your 3-digit CVV">
                    </div>
                    <div class="form-group">
                        <label for="transactionName" class="form-label">Transaction Name</label>
                        <input type="text" name="transactionName" id="transactionName" class="form-control"
                            formControlName="transactionName" matTooltip="Enter the transaction name" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="merchantName" class="form-label">Merchant Name</label>
                        <select id="merchantName" class="form-select" formControlName="merchantName"
                            (change)="onMerchantChange($event)" matTooltip="Select the merchant name">
                            <option *ngFor="let merchant of merchants" [value]="merchant.name">{{merchant.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="merchantCardNumber" class="form-label">Merchant Card Number</label>
                        <select id="merchantCardNumber" class="form-select" formControlName="merchantCardNumber"
                            (change)="onCardNumberChange($event)" matTooltip="Select the merchant card number">
                            <option *ngFor="let merchant of merchants" [value]="merchant.cardNumber">
                                {{merchant.cardNumber}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="validUpto" class="form-label">Valid Upto</label>
                        <input type="text" name="validUpto" id="validUpto" class="form-control"
                            formControlName="validUpto" placeholder="MM/YY"
                            matTooltip="Enter the card validity in MM/YY format" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="description" id="description" class="form-control"
                            formControlName="description" matTooltip="Enter the transaction description" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" min="1" name="amount" id="amount" class="form-control" formControlName="amount"
                    matTooltip="Enter the transaction amount" />
            </div>
            <button type="submit" class="btn btn-success w-100 mt-5" [disabled]="transactionForm.invalid">Pay</button>
        </form>
    </div>
    <div class="col-sm">
        <div *ngIf="transactionResult">
            <div class="alert alert-success">Transaction Successful</div>
            <div class="table-responsive">
                <table class="table table-bordered table-success table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Merchant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{transactionResult.transactionId}}</th>
                            <td>{{transactionResult.transactionName}}</td>
                            <td>{{transactionResult.description}}</td>
                            <td>{{transactionResult.amount}}</td>
                            <td>{{transactionResult.date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{transactionResult.transactionType}}</td>
                            <td>{{transactionResult.customerCreditCardNumber}}</td>
                            <td>{{transactionResult.merchantCardNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage && !transactionResult">
            <p>Transaction Failed!</p><br>
            <pre>{{errorMessage}}</pre>
        </div>
    </div>
</div>