<div class="d-flex justify-content-center align-items-center py-4 bg-body-tertiary min-vh-100">
    <div class="container">
        <div class="row">
            <main class="form-signin w-100 m-auto">
                <form [formGroup]="loginForm">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            formControlName="email" required matTooltip="Enter your email">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                            formControlName="password" required matTooltip="Enter your password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-flex justify-content-evenly mt-5">
                        <button class="btn btn-success" type="button" (click)="onCustomerLogin()"
                            [disabled]="loginForm.invalid" matTooltip="Click to sign in as customer">Customer Sign
                            in</button>
                        <button class="btn btn-danger" type="button" (click)="onAdminLogin()"
                            [disabled]="loginForm.invalid" matTooltip="Click to sign in as admin">Admin Sign in</button>
                    </div>
                </form>
            </main>
        </div>
        <div class="row w-25 m-auto">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary mt-3" routerLink="/register"
                    matTooltip="Click to register">New User? Register
                    Here</button>
            </div>
        </div>
        <div class="row w-50 m-auto mt-5 text-center">
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>