<h2> Update existing merchant</h2>
<br>

<body style="background-color: gainsboro;">
    <div class="container" style="background-color: gainsboro;">
        <form style="background-color: gainsboro;">
            <label for="merchantName">MERCHANT NAME:</label>
            <input type="text" id="merchantName" name="merchantName" required><BR><BR>

            <label for="merchantId">MERCHANT ID :</label>
            <input type="text" id="merchantId" name="merchantId" required><br><br>

            <label for="cardNumber">CARD NUMBER :</label>
            <input type="text" id="cardNumber" name="cardNumber" required><br><br>




            <button type="submit">Update Merchant</button>
        </form>
    </div>
</body>
