.c{
    background-color: hsl(206, 5%, 73%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}


.container{
    text-align: center;
    width: 300px;
    border: 10px solid hsl(120, 1%, 36%);
    padding: 50px;
    margin: 20px;
    outline-style: ridge;
    position: absolute;
    top: 50%;
    left: 57.5%;
    margin-left: -150px; /* Half of the width (300px / 2) */
    margin-top: -100px;
}