<div style="background-color: aliceblue;">
    <h2> Update existing merchant</h2>
    <br>
</div>

<body style="background-color: gainsboro;">
    <div class="container" style="background-color: gainsboro;">
        <form style="background-color: gainsboro;">
            <label for="merchantName"><b>MERCHANT NAME:</b></label><br>
            <input type="text" id="merchantName" name="merchantName" required><BR><BR>

            <!--<label for="merchantId">MERCHANT ID :</label>
            <input type="text" id="merchantId" name="merchantId" required><br><br>-->

            <label for="cardNumber"><b>CARD NUMBER :</b></label><br>
            <input type="text" id="cardNumber" name="cardNumber" required><br><br>




            <button type="submit"><b>Update Merchant</b></button>
        </form>
    </div>
</body>