<app-header></app-header>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2 class="mb-4 profile-title">DASHBOARD</h2>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="customers && customers.length > 0">
    <div class="col-md-6" *ngFor="let customer of customers; let i = index">
      <div class="card mb-4 id-card">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title">{{customer.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID: {{customer.customerId}}</li>
          <li class="list-group-item">Email: {{customer.email}}</li>
          <li class="list-group-item">Phone: {{customer.phone}}</li>
          <li class="list-group-item">Address: {{customer.address}}</li>
          <li class="list-group-item">DOB: {{customer.dateOfBirth | date: 'dd/MM/yyyy'}}</li>
          <li class="list-group-item">Annual Income: {{customer.annualIncome}}</li>
        </ul>
        <div class="card-body">
          <button class="btn btn-primary" (click)="updateCustomer(i)">Update</button>
          <button class="btn btn-danger ml-2" (click)="deleteCustomer(customer.customerId)">Delete</button>
        </div>
      </div>
      <div class="row justify-content-center alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="!customers || customers.length === 0">
    <div class="col-md-6 text-center">
      <p class="no-customers">No customers found.</p>
    </div>
  </div>